//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 29 05:57:02 2021
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "U16" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

